* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header__inner {
    padding: 20px 0;
}





.container {
    max-width: 1110px;
    margin: 0 auto;
}
.header__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: #22262A;

}
.menu__list {
    display: flex;
    list-style-type: none;

}
.menu__link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
    margin-left:20px ;


}
.fa-heart {
    margin: 0 20px;
}
.fa-search, .fa-heart {
    font-weight: normal;
}



#hero {
    min-height: 750px;
    background: url("../image/backgrounds/1 1.png") no-repeat;
}

.hero__item {
    position: relative;
    min-height: 750px;

}

.hero__item-content {
    position: absolute;
    right:230px ;
    bottom: 100px;
    width: 450px;
}

.hero__desc {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
}
.hero__title {
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 120px;
    color: #22262A;
}

.hero__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    background: black;
    padding: 5px 25px;
    margin-right: 35px;
    color: #FFFFFF;
    display: inline-block;
    margin-top: 30px;
}


#category {
    padding-top: 120px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}

.col-6 {
    width: 50%;

}


.item {
    padding: 0 30px;
}
.category__image-men {
width: 100%;
}

.female__img-row {
    display: flex;
    margin: 20px -25px 0 -25px;
}
.female__img-col-6 {
    width: 50%;

}
.female__img-item {
    padding: 0 25px;
}

.female {
    width: 100%;
}


.catalog__img-men {
min-height: 542px;
    background: #00000050 url("../image/backgrounds/catalog__image-men bg.png")center center/cover no-repeat;
    background-blend-mode: darken;
    position: relative;
}


.category__name-link {
    display: inline-block;
    padding: 5px 25px;
    background: #fff;
    text-decoration: none;
    font-weight: 500;
    position: absolute;
    left: 30px;
    bottom: 25px;
    font-size: 18px;
    line-height: 27px;
    color: black;
}

.catalog__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.col-3 {
    width: 25%;
}

.catalog__item {
    padding: 0 20px;
}
#catalog__women{
    padding-top: 115px;
}
.women__title{
    display: block;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #22262A;
    margin-bottom: 15px;

}
.women__desc {
    display: block;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #22262A;
    margin-bottom: 65px;

}


.catalog__img{
    width: 100%;
}
.catalog__desc {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
    margin-top: 40px;

}
.catalog__title {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;

}
.catalog__price {
    width: 145px;
    display: flex;
    justify-content: space-between;
}
.price {
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;


}
.old {
    text-decoration: line-through;
    color: #ccc;
}
.new {
color: red;
    font-size: 18px;
}


#catalog_men {
    padding-top: 115px;
}

.men__title {
    display: block;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #22262A;
margin-bottom: 15px;
}
.men__desc{
    display: block;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #22262A;
    margin-bottom: 65px;

}

#styles {
    padding-top: 110px;
}

.styles__title {
    display: block;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #22262A;
}

.styles__desc {
    display: block;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 60px;
    text-align: center;
    color: #22262A;

}


.styles__img-item {
    margin-top: 150px;
    width: 100%;
}


.styles__img-right_item {
    width: 100%;
}

.layer__styles {
    position: relative;
    min-height: 300px;

}

.styles__link {
    position: absolute;
    bottom: 72px;
    left: 60px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.layer__styles-img {
    /*width: 100%;*/
    position: absolute;
    right: -38px;
    top: -42px;
    padding: 20px 0 0 20px;
    background: #fff;
}

#tachen {
    min-height: 745px;
    padding-top: 128px;
    background: url("../image/backgrounds/tachen.png") right center no-repeat;
}

.tachen__item {
    min-height: 745px;
    position: relative;

}

.tachen__item-content {
    position: absolute;
    left: 200px;
    bottom: 130px;
}

.tachen__desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;

}

.tachen__title {
    font-weight: bold;
    font-size: 80px;
    line-height: 120px;
    color: #22262A;

}

.tachen__link {
    background: #000;
    color: white;
    padding: 5px 25px;
    text-decoration: none;
}


#info {
    padding-top: 150px;
    background: #F2F8FC;
    min-height: 600px;
    position: relative;
}

.down {
    display: block;
    margin-bottom: 15px;
}

.info__desc {
    display: block;
    width: 405px;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;

}

.info__location {
    margin: 40px 0 15px 0;
}

.location__desc {
    margin-left: 25px;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;

}

.info__email {
    display: block;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
    border-bottom: 1px solid black;
    width: 250px;
}

.info__index {
    display: block;
margin-bottom: 15px;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;

}

.social__info {
    display: flex;
    width: 110px;
    justify-content: space-between;
}

/*.item__email {*/
/*    position: absolute;*/
/*    width: 532px;*/
/*   height: 385px;*/
/*   left: 765px;*/
/*    bottom: 60px;*/
/*}*/

/*.email__updates {*/
/*    display: block;*/
/*    font-weight: bold;*/
/*    font-size: 25px;*/
/*    line-height: 37px;*/
/*    text-decoration: none;*/
/*    color: #22262A;*/
/*}*/

/*.email__address {*/
/*position: absolute;*/
/*    margin-top: 24px;*/
/*    width: 550px;*/
/*    height: 45px;*/
/*    padding: 10px 20px;*/
/*    background: #FFFFFF;*/
/*    box-shadow: 0  0  5px rgba(0, 0, 0, 0.07);*/
/*    border-radius: 5px;*/
/*}*/
/*.email__join {*/
/*    position: absolute;*/
/*    margin-top: 24px;*/
/*    padding: 10px 500px;*/
/*    width: 36px;*/
/*    height: 23px;*/
/*    font-weight: 600;*/
/*    font-size: 15px;*/
/*    line-height: 22px;*/
/*    text-decoration: none;*/
/*    color: #22262A;*/


/*}*/

/*.menu__shop {*/
/*    position: absolute;*/

/*    width: 80px;*/
/*    height: 208px;*/
/*    left: 765px;*/
/*    top: 300px;*/
/*}*/


/*.shop__item {*/
/*    font-weight: 600;*/
/*    font-size: 20px;*/
/*    line-height: 30px;*/
/*    color: #22262A;*/

/*}*/

/*.shop__list {*/
/*    list-style-type: none;*/
/*}*/

/*.menu__shop-item {*/
/*    margin-top: 21px;*/
/*}*/

/*.help__list {*/

/*    position: absolute;*/
/*    width: 185px;*/
/*    height: 208px;*/
/*    left: 190px;*/
/*    top: 0;*/
/*    list-style-type: none;*/
/*}*/

/*.menu__help {*/
/*    font-weight: 600;*/
/*    font-size: 20px;*/
/*    line-height: 30px;*/
/*    color: #22262A;*/
/*}*/

/*.menu__help-item {*/
/*    margin-top: 21px;*/
/*}*/

/*.about__list {*/
/*    position: absolute;*/
/*    width: 140px;*/
/*    height: 208px;*/
/*    left: 419px;*/
/*    top: 6px;*/
/*    list-style-type: none;*/
/*}*/

/*.menu__about {*/
/*    font-weight: 600;*/
/*    font-size: 20px;*/
/*    line-height: 30px;*/
/*    color: #22262A;*/
/*}*/

/*.menu__about-item {*/
/*    margin-top: 21px;*/
/*}*/

/*.footer__inner {*/
/*    height: 93px;*/
/*    background: #E7F5F8;*/
/*    padding:35px 527px ;*/
/*    border-radius: 0 0 50px 50px;*/

/*}*/

/*.footer__item-link {*/
/*    font-weight: normal;*/
/*   font-size: 15px;*/
/*    line-height: 22px;*/
/*    color: #22262A;*/


/*}*/

.email__desc {
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #22262A;
}

.email__label {
    position: relative;
}

#email {
    width: 100%;
    padding: 10px 0 10px 25px;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 #bdb9b9;
}

#email ::placeholder {
    color: black;
}

.email__btn {
position: absolute;
    right: 25px;
    top: 0;
    bottom: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
    border: none;
    outline: none;


}

.down__nav {
    display: flex;
    justify-content: space-between;
}

.down__menu-desc {
    margin-top: 70px;
    list-style-type: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #22262A;
}
.down__menu-item {
    list-style-type: none;
}

.down__menu-link {
    display: block;
    margin-top: 25px;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}
.footer {
    padding: 35px 0;
    background: #e7f5f8;
    text-align: center;
    border-radius: 0 0 30px 30px;
}

.footer__desc {
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}